<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="g1.ibatisMp2.MessageMapper">


    
    <select id="getOnlyDeleted" resultType="g1.domain.Message">
        SELECT * FROM Message WHERE isDeleted=1
    </select>
    
    
   

</mapper>