<html xmlns:th="http://www.thymeleaf.org"
	>
	
	<head>
		<meta charset="utf-8"/>
		<title>Home</title>
	</head> 
	<body>
	
	
	
	<P><a href="c1/info">c1-info</a> </P>




	<P><a href="logreg/info">logreg/info</a></P>
	
	<br /><a href="post/getPosts">post list</a>
	<br /><a href="post/checkTran.json"> post checkTran.json</a>
	<br /><a href="post/getOnlyDeleted">post list getOnlyDeleted</a>
	<br />
	<br /><a href="message/getMessages">message list</a>
	<br /><a href="message/checkTran.json">message checkTran.json</a>
	<br /><a href="message/getOnlyDeleted">message list getOnlyDeleted</a>
	<br />
	<br /><a href="user/checkTran.json">user checkTran.json</a>
	
	<br />
	<a href="logreg/logout">登出</a>
	<a href="logreg/logout?needJson=true">登出json</a>
	
	
	<div>
	<h3>actuator</h3>

	<br /><a href="actuator/autoconfig">autoconfig</a>
<br /><a href="actuator/configprops">configprops</a>
<br /><a href="actuator/beans">beans</a>
<br /><a href="actuator/dump">dump</a>
<br /><a href="actuator/env">env</a>
<br /><a href="actuator/env/{name}">env/{name}</a>
<br /><a href="actuator/health">health</a>
<br /><a href="actuator/info">info</a>
<br /><a href="actuator/mappings">mappings</a>
<br /><a href="actuator/metrics">metrics</a>
<br /><a href="actuator/metrics/{name}">metrics/{name}</a>
<br /><a href="actuator/shutdown">shutdown</a>
<br /><a href="actuator/trace">trace</a>
	
	</div>
	
	
	</body>
</html>
